.widget {
    margin-bottom: 15px;
    @extend %posRelative;
    .widget-head {
        margin-bottom: 10px;
        .widget-title {
            @extend %posRelative;
            font-weight: 700;
            padding: 15px 0;
        }
    }
    &.style2 {
        .widget-head {
            .widget-title {
                margin: 0;
                padding: 0;
                border-bottom: 3px solid transparent;
                > div {
                    @extend %displayFlex;
                    align-items: center;
                    @extend %pullLeft;
                    padding: 10px;
                    border-bottom: 3px solid transparent;
                    font-weight: 600;
                    margin-bottom: -3px;
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .widget-body {
        font-weight: 600;
        color: var(--black-alpha6);
        padding: 15px;
        li {
            margin-bottom: 7px;
            a {
                line-height: 15px;
                font-size: 12px;
            }
        }
    }
    .makers {
        max-height: 340px;
        overflow: hidden;
        overflow-y: scroll;
        li {
            margin-bottom: 7px;
            .sidebar-text {
                padding: 0;
            }
            .thumb {
                width: 52px;
                height: 30px;
                background-image: url('/assets/img/img_maker.png');
                background-repeat: no-repeat;
                overflow: hidden;
            }
            .title {
                line-height: 30px;
            }
            .mitsubishi .thumb,
            .mitsubishil200 .thumb {
                background-position: -186px 0px;
            }
            .infiniti .thumb,
            .infinity .thumb {
                background-position: -1914px 0px;
            }
            .mercedes .thumb,
            .mercedesbenz .thumb,
            .mercedes-benz .thumb {
                background-position: -606px 0px;
            }
            .landrover .thumb,
            .range .thumb {
                background-position: -885px 0px;
            }

            .toyota .thumb { background-position: 0px 0px; }
            .nissan .thumb { background-position: -46px 0px; }
            .honda .thumb { background-position: -93px 0px; }
            .bmw .thumb { background-position: -559px 0px; }
            .audi .thumb { background-position: -699px 0px; }
            .ford .thumb { background-position: -794px 0px; }
            .astonmartin .thumb { background-position: -3781px 0px; }
            .aston .thumb { background-position: -3786px 0px; }
            .alfaromeo .thumb { background-position: -839px 0px; }
            .daf .thumb { background-position: -1538px 0px; }
            .isuzu .thumb { background-position: -421px 0px; }
            .kia .thumb { background-position: -1214px 0px; }
            .jaguar .thumb { background-position: -1444px 0px; }
            .volvo .thumb { background-position: -1494px 0px; }
            .jeep .thumb { background-position: -1868px 0px; }
            .daihatsu .thumb { background-position: -279px 0px; }
            .suzuki .thumb { background-position: -326px 0px; }
            .lexus .thumb { background-position: -373px 0px; }
            .chevrolet .thumb { background-position: -747px 0px; }
            .hyundai .thumb { background-position: -1120px 0px; }
            .porsche .thumb { background-position: -1261px 0px; }
            .peugeot .thumb { background-position: -653px 0px; }
            .volkswagen .thumb { background-position: -514px 0px; }
            .lamborghini .thumb { background-position: -3833px 0px; }
            .ferrari .thumb { background-position: -3500px 0px; }
            .tesla .thumb { background-position: -3546px 0px; }
            .erf .thumb { background-position: -3886px 0px; }
            .scania .thumb { background-position: -2520px 0px; }
            .bentley .thumb { background-position: -3033px 0px; }
            .jcb .thumb { background-position: -2848px 0px; }
            .yamaha .thumb { background-position: -2194px 0px; }
            .cat .thumb { background-position: -2563px 0px; }
            .fiat .thumb { background-position: -2611px 0px; }
            .gmc .thumb { background-position: -3077px 0px; }
            .hitachi .thumb { background-position: -3171px 0px; }
            .subaru .thumb { background-position: -233px 0px; }
            .seddon .thumb { background-position: -3933px 0px; }
            .vauxhall .thumb { background-position: -3983px 0px; }
            .iveco .thumb { background-position: -1587px 0px; }
            .mazda .thumb { background-position: -140px 0px; }
            .rollsroyce .thumb { background-position: -4034px 0px; }
        }
    }
}