#rating_list {
    ul {
        @extend %width100;
        li {
            cursor: pointer;
            color: #ccc;
            width: 21px;
            line-height: 21px;
            font-size: 25px;
            float: left;
            margin: 0px !important;
            @extend %posRelative;
            &.rated {
                color: #cc0001;
            }
        }
    }
}

.ribbon-wrapper {
    @extend %posAbsolute;
    display: block;
    z-index: 7;
    > a {
        padding: 5px 10px 3px 10px;
        letter-spacing: 1px;
        display: block;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 14px;
        @extend %posRelative;
    }
    .bg-reserved,
    .ribbon-reserved {
        background-color: var(--mustard);
        color: var(--black) !important;
    }
    .bg-bidding.closed,
    .ribbon-bidding.closed {
        background-color: var(--blue-light);
        color: var(--white) !important;
    }
    .bg-sold,
    .ribbon-sold {
        background-color: var(--green);
        color: var(--white) !important;
    }
    .bg-bidding.opened,
    .ribbon-bidding.opened,
    .bg-featured,
    .ribbon-featured,
    .bg-sale,
    .ribbon-sale {
        background-color: var(--valencia);
        color: var(--white) !important;
    }
    &.style2 {
        > a {
            &:before {
                content: '';
                @extend %posAbsolute;
                bottom: 100%;
                left: 0;
                border-width: .5em .7em 0 0;
                border-style:solid;
            }
        }
        .bg-reserved,
        .ribbon-reserved {
            &:before {
                border-color: transparent var(--mustard-dark) transparent transparent;
            }
        }
        .bg-bidding.closed,
        .ribbon-bidding.closed {
            &:before {
                border-color: transparent var(--blue) transparent transparent;
            }
        }
        .bg-sold,
        .ribbon-sold {
            &:before {
                border-color: transparent var(--green-dark) transparent transparent;
            }
        }
        .bg-bidding.opened,
        .ribbon-bidding.opened,
        .bg-featured,
        .ribbon-featured,
        .bg-sale,
        .ribbon-sale {
            &:before {
                border-color: transparent var(--valencia-dark) transparent transparent;
            }
        }
    }
}

#lightSlider {
    .ribbon-wrapper {
        top: 30px;
    }
}

.tmm-view-mode {
    @extend %displayFlex;
    margin: 0 -5px;
    flex: 1;
    @include phone {
        flex-direction: column;
    }
    @include tabletL {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item {
        padding: 5px;
        @include tabletL {
            width: 241px;
        }
        @include desktop {
            width: 200px;
        }
        .addToCompare {
            @include phone {
                display: none;
            }
            @include tabletL {
                display: block;
            }
        }
    }
    .image-post {
        @extend %posRelative;
        background-color: var(--white);
        overflow: hidden;
        .image-post-slider-cars-listing {
            ul {
                list-style: none;
                margin: 0;
                z-index: 1;
                li {
                    list-style: none;
                    display: none;
                    width: 100% !important;
                    &:first-child {
                        display: block
                    }
                    img,
                    img:hover {
                        display: block;
                        width: 100%;
                        /*-webkit-backface-visibility: hidden;*/
                        /*-moz-backface-visibility: hidden;*/
                        /*backface-visibility: hidden*/
                    }
                }
            }
        }
        .stock-ribbon {
            padding: 5px 8px 3px 8px;
            background-color: var(--blue);
            color: var( --white);
            z-index: 20;
            font-size: 11px;
            @include user-select(none);
            pointer-events: none;
            @include phone {
                width: 100%;
                text-align: center;
                display: block;
            }
            @include tabletP {
                width: auto;
                position: absolute;
                right: 0px;
                bottom: 10px;
            }
        }
        .ribbon-wrapper {
            @include phone {
                bottom: 18px;
                left: 150px;
            }
            @include tabletP {
                top: 30px;
                left: 0;
                bottom: inherit;
            }
            &.style2 {
                @include tabletP {
                    left: -6px;
                }
            }
        }
        img {
            @extend %width100;
            @include transition (opacity 1s ease-in-out);
        }
        .img1 {
            @include opacity (0);
        }
        .img2 {
            @extend %posAbsolute;
            top: 0;
            z-index: 5;
            @include opacity (1);
        }
        &:hover {
            .img2 {
                @include opacity (0);
            }
            .img1 {
                @include opacity (1);
            }
        }
        .video-icon,
        .picture-icon {
            font: 8px/8px'fontello';
            width: 13px;
            height: 13px;
            padding: 2px
        }
        .video-icon {
            right: 22px
        }
        .single-image {
            margin-bottom: 0
        }
    }
    .title-item {
        a {
            color: #232527;
            font-weight: bold;
        }
    }
    .detailed {
        h6 {
            color: var(--black) !important;
        }
        #stockRated {
            color: #219e53;
            @extend %posAbsolute;
            right: 124px;
            top: 13px;
            font-size: 18px;
            display: none;
        }
        #stockViews{
            @extend %pullRight;
            @extend %posAbsolute;
            top: 16px;
            right: 20px;
        }
        .price {
            display: inline-block;
            padding-bottom: 1px;
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            border-bottom-color: #ed1c24;
            color: #ed1c24;
            line-height: 1.4;
            font-weight: 400;
            margin-bottom: 5px;
            @include phone {
                font-size: 14px
            }
            @include tabletL {
                font-size: 16px;
            }
            &:hover {
                color: #7f858b;
                border-bottom-color: transparent
            }
            a {
                color: #ed1c24;
            }
        }
        .button {
            vertical-align: middle;
            margin-right: 10px
        }
        .detailed-foot {
            @extend %pullRight;
            margin-right: 0;
            @include phone_and_tabletL {
                bottom: 20px;
                right: 10px;
                position: absolute;
            }
            .button {
                margin-right: 10px;
                @extend %posRelative;
                bottom: auto;
                right: auto;
            }
        }
    }
    .list-entry {
        margin-bottom: 10px;
        li {
            font-size: 12px;
            line-height: 22px;
            color: var(--black);
            font-weight: 700;
            i {
                color: var(--black);
            }
        }
    }
    .compare {
        height: 22px;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
        @include translateY(40px);
        @extend %transitionAll300;
        @include phone {
            display: none;
        }
        @include tabletL {
            display: block;
        }
        label {
            color: #ed1c24;
            display: inline-block;
            cursor: pointer;
            @extend %posRelative;
            padding-left: 20px;
            margin-right: 10px;
            font-size: 13px;
            &:before {
                content: "\2713";
                font-size: 18px;
                color: #ffcf00;
                text-align: center;
                line-height: 15px;
                display: inline-block;
                width: 13px;
                height: 13px;
                margin-right: 10px;
                @extend %posAbsolute;
                left: 0;
                bottom: 1px;
                border: 1px solid #aaa;
            }
            &:last-child {
                margin-right: 0
            }
        }
        input[type="checkbox"] {
            display: none;
            &:checked {
                content: "\2713";
                font-size: 18px;
                color: #ffcf00;
                text-align: center;
                line-height: 15px
            }
        }
    }
    #rating_list {
        @include tabletP {
            position: absolute;
            right: 20px;
            top: 0px;
        }
    }

    /* ITEM GRID */
    &.item-grid {
        .item {
            .image-post {
                margin-bottom: 10px;
                @include phone {
                    height: 130px;
                    width: 140px;
                    float: left;
                    margin-right: 10px;
                }
                @include tabletP {
                    height: 135px;
                    width: 285px;
                }
                @include tabletL {
                    width: 100%;
                    float: none;
                    margin-right: 0;
                }
                img {
                    @extend %floatToCenter;
                    width: auto;
                    height: 100%;
                }
            }
            .detailed {
                @include phone {
                    width: calc(100% - 150px);
                    float: left;
                }
                @include tabletP {
                    width: calc(100% - 295px);
                }
                @include tabletL {
                    width: 100%;
                    float: none;
                }
            }
        }
        .lSSlideOuter {
            .item {
                .image-post,
                .detailed {
                    width: 100% !important;
                }
            }
        }
    }

    /* ITEM LIST */
    &.item-list {
        .item {
            @extend %width100;
            clear: both;
            .image-post {
                @extend %pullLeft;
                width: 30%;
                height: 130px;
                img {
                    @extend %floatToCenter;
                    width: 100%;
                    height: auto;
                }
            }
            .detailed {
                @extend %pullLeft;
                width: 40%;
                padding: 20px;
            }
            &:before {
                content: '';
                @extend %posAbsolute;
                top: 0;
                left: 20px;
                right: 20px;
            }
            &:first-child {
                &:before {
                    border: none
                }
                .detailed {
                    .price {
                        top: 0
                    }
                }
            }
        }
    }
}

.slide{
    > .ribbon-wrapper {
        position: absolute;
        left: 0;
        top: 30px;
        background-color: rgba(0,0,0, 0.4) !important;
        display: block;
        padding: 10px 20px;
        > h4 {
            color: #fff;
            margin: 0 !important;
            > span {
                font-size: 12px;
            }
        }
    }
    >.remove-image {
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: darkred;
        color: white;
        padding: 10px;
    }
}

#sorting {
	.sort-by {
		display: inline-block;
		padding: 3px 2px;
		vertical-align: top;
	}
	.sort-by-list {
		display: inline-block;
		vertical-align: top;
		li {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 5px;
			border-radius: 0;
			text-align: center;
			font-size: 12px;
			&:last-child {
				margin-right: 0;
			}
			span {
				position: relative;
				display: inline-block;
				cursor: pointer;
				.search_order_asc,
				.search_order_desc {
					border: 0;
					display: none;
				}
			}
			&.active {
				background-color: var(--blue-dark) !important;
				.search_order_asc,
				.search_order_desc {
					background-size: 100%;
					width: 6px;
					height: 12px;
					border: 0;
					padding-right: 0;
					margin: 4px 0 0px 3px;
					display: inline-block;
					vertical-align: top;
				}
				.search_order_asc {
					background: url('/assets/img/icons/arrow_up.png') right top no-repeat;
				}
				.search_order_desc {
					background: url('/assets/img/icons/arrow_down.png') right top no-repeat;
				}
			}
		}
	}
}
.items-per-page {
    @include phone_and_tabletL {
        display: block;
        float: none;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
    }
    @include tabletP {
        width: 35%;
        vertical-align: top;
        text-align: right;
    }
    label {
        display: inline-block;
        margin-right: 10px
    }
    .sel {
        display: inline-block;
        width: 60px
    }
}

.bundle-container {
    cursor: pointer;
    position: relative;
    .overlay {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
        transition: all 300ms ease;
        z-index: 2;
    }
    &:hover {
        .overlay {
            display: block;
        }
    }
    .page-header > *,
    .page-page-body > * {
        pointer-events: none;
        user-select: none;
    }
}

.avatar {
    @extend %pullLeft;
    margin-right: 20px;
    margin-bottom: 20px
}