.testimonial-slider {
    .testimonial-title {
        @extend %posAbsolute;
        top: -45px;
        left: 0;
        @include phone {
            width: 100%;
        }
        @include tabletL {
            width: 380px;
        }
    }
}

.testimonial-single {
    .form-heading {
        img {
            @extend %posAbsolute;
            top: 20px;
            right: 20px;
        }
    }
}